.banner{
   display: block;
   padding: 5px;
   margin: 0;
   width: 100vw;
   height: 90vh;
   position: relative;
}
.bannerText{
   font-family: 'Helvetica','Verdana', sans-serif;
   position: relative;
   top: 100px;
   z-index: 20;
   text-align: center;
   font-weight:bold;
   color: rgb(245, 242, 242);
   text-shadow:  2px 5px 5px #000000;
   
}
